@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<FreelanceManager.Web.ViewModels.TimeRegistration.ImportViewModel>
@{
    ViewBag.Title = "Time Registration - Import";
}

<h1 class="text-center">Import Time Registrations</h1>

<form method="post" action="/timeregistration/import">
    <input type="hidden" name="serverFile" value="@Model.ServerFile" />

    <div class="form-group">
        <label for="projectIdColumn">Project column</label>
        <select id="projectIdColumn" name="projectIdColumn" class="form-control selectpicker">
            @foreach (var column in Model.ColumnNames)
            {
                <option value="@column.Column">@column.Name</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="taskColumn">Task column</label>
        <select id="taskColumn" name="taskColumn" class="form-control selectpicker">
            @foreach (var column in Model.ColumnNames)
            {
                <option value="@column.Column">@column.Name</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="rateColumn">Rate column</label>
        <select id="rateColumn" name="rateColumn" class="form-control selectpicker">
            @foreach (var column in Model.ColumnNames)
            {
                <option value="@column.Column">@column.Name</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="dateColumn">Date column (YYYY-MM-DD)</label>
        <select id="dateColumn" name="dateColumn" class="form-control selectpicker">
            @foreach (var column in Model.ColumnNames)
            {
                <option value="@column.Column">@column.Name</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="fromColumn">From column (hh:mm)</label>
        <select id="fromColumn" name="fromColumn" class="form-control selectpicker">
            @foreach (var column in Model.ColumnNames)
            {
                <option value="@column.Column">@column.Name</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="toColumn">To column (hh:mm)</label>
        <select id="toColumn" name="toColumn" class="form-control selectpicker">
            @foreach (var column in Model.ColumnNames)
            {
                <option value="@column.Column">@column.Name</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="descriptionColumn">Description column</label>
        <select id="descriptionColumn" name="descriptionColumn" class="form-control selectpicker">
            @foreach (var column in Model.ColumnNames)
            {
                <option value="@column.Column">@column.Name</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
    <a href="/timeregistration">Cancel</a>

</form>

